/* Sidebar azul estilo SB Admin */
.sidebar-custom {
  background-color: #4B6FD6;
  height: 100vh;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar-title {
  color: white;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 22px;
}

.sidebar-custom .nav-link {
  color: #ffffff;
  font-size: 15px;
}

.sidebar-custom .nav-link:hover {
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}

/* Para que el main no quede debajo del sidebar */
main {
  margin-left: 230px;
}
