<div class="container-fluid">
  <div class="row">

    <!-- SIDEBAR AZUL -->
    <nav class="col-md-2 d-none d-md-block sidebar-custom">
      <h2 class="sidebar-title">SB ADMIN²</h2>

      <ul class="nav flex-column">

        <!-- MENU NIVEL 1 -->
        <li *ngFor="let item of meny" class="nav-item">

          <a class="nav-link text-white"
             href="#"
             data-bs-toggle="collapse"
             [attr.data-bs-target]="'#' + item.target">
            {{ item.name }}
          </a>

          <!-- SUBMENÚ -->
          <ul class="collapse ps-3" [id]="item.target">
            <li class="nav-item" *ngFor="let sub of item.subMenu">
              <a class="nav-link text-light" [routerLink]="sub.url">
                <i [class]="sub.icon"></i> {{ sub.name }}
              </a>
            </li>
          </ul>

        </li>

      </ul>
    </nav>

    <!-- CONTENIDO -->
    <main class="col-md-10 ms-sm-auto px-4 py-3">

      <h1 class="mb-4 fw-semibold">Pedidos</h1>

      <!-- TARJETAS -->
      <div class="row g-3">
        <div class="col-md-4" *ngFor="let d of pedidoResponse">
          <div class="card shadow-sm p-3">
            <h5 class="card-title">{{ d.productos }}</h5>
            <p class="text-primary fw-bold">Precio: {{ d.montoTotal }}</p>
            <p class="text-muted">{{ d.direccionEnvio }}</p>
            <p class="text-muted">{{ d.fecha }}</p>
          </div>
        </div>
      </div>

    </main>

  </div>
</div>
