.contenedor-separado {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 20px;
}

.card-imagen,
.card-formulario {
  border: 2px solid #000;
  border-radius: 10px;
  background: #fff;
}

.card-imagen {
  padding: 10px;
  width: 350px;
}

.imagen-lado {
  width: 100%;
  height: auto;
}

.card-formulario {
  width: 550px;
}

@media (max-width: 768px) {
  .contenedor-separado {
    flex-direction: column;
    gap: 20px;
  }

  .card-imagen {
    display: none;
  }

  .card-formulario {
    width: 100%;
  }
}
/* BOTÓN REGÍSTRATE CON GOOGLE */
.btn-google-login {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #ffffff, #f2f2f2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #444;
  font-size: 16px;
  font-weight: 600;
  border: 2px solid #ddd;
  cursor: pointer;
  transition: .2s;
  margin-top: 15px; /* separa este botón del resto */
}

.btn-google-login:hover {
  background: linear-gradient(135deg, #f5f5f5, #e4e4e4);
  transform: scale(1.02);
}

.google-icon {
  width: 22px;
  height: 22px;
}
